.games-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.game-cover {
  min-width: 300px;
  background-color: #ecf8ff;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.game-cover-current {
  background-color: #ecffef;
}

.game-cover p {
  margin: 0;
}